# Experiment using model 1
Description

In [1]:
import numpy as np
import pandas as pd
import everywhere
from everywhere.datasets.load_data import get_users_data, get_events_data, get_train_data, get_user_friends_data, get_event_attendees_data, get_event_popularities_data
print(f"Numpy version: {np.__version__}")
print(f"Pandas version: {pd.__version__}")
print(f"Everywhere version: {everywhere.__version__}")

Numpy version: 1.24.2
Pandas version: 1.5.3
Everywhere version: 0.0.0

## Model theoretical explanation

This model is based in ...

In [ ]:
# Parameters
batch_size = 32
n_layers = 5
#epochs = 10
EPOCHS = 10

## Data prep

In [2]:
df = get_events_data()
df

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,c_92,c_93,c_94,c_95,c_96,c_97,c_98,c_99,c_100,c_other
0,684921758,3647864012,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,1,0,0,0,0,0,0,0,9
1,244999119,3476440521,2012-11-03T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,7
2,3928440935,517514445,2012-11-05T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,12
3,2582345152,781585781,2012-10-30T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,8
4,1051165850,1016098580,2012-09-27T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137967,3206911916,3817662916,2012-06-07T14:00:00.000Z,NaN,NaN,NaN,NaN,45.238,11.754,0,...,0,0,0,0,0,0,0,0,0,45
3137968,3298484812,2119960237,2014-02-26T02:00:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,8
3137969,1331217755,1149466221,2012-12-02T07:30:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,2
3137970,1627348069,3748671867,2012-10-20T04:00:00.003Z,Hermosa Beach,CA,NaN,United States,33.857,-118.391,2,...,1,0,1,0,0,0,0,1,1,51
3137971,1373240562,3334738518,2013-02-14T20:00:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,1

In [3]:
df.isna().sum()

event_id            0
user_id             0
start_time          0
city          1557124
state         1889723
               ...
c_97                0
c_98                0
c_99                0
c_100               0
c_other             0
Length: 110, dtype: int64

## Model training

In [ ]:
# model.fit

In [ ]:
# preds = model.test

## Evaluation

In [ ]:
# model_auc = auc(true, preds)

## Summary