# Experiment using model 1
Description

In [4]:
import numpy as np
import pandas as pd
import everywhere
from everywhere.datasets.load_data import get_users_data, get_events_data, get_train_data, get_user_friends_data, get_event_attendees_data, get_event_popularities_data
print(f"Numpy version: {np.__version__}")
print(f"Pandas version: {pd.__version__}")
print(f"Everywhere version: {everywhere.__version__}")

Numpy version: 1.24.2
Pandas version: 1.5.3
Everywhere version: 0.0.0

## Model theoretical explanation

This model is based in ...

In [ ]:
# Parameters
batch_size = 32
n_layers = 5
#epochs = 10
EPOCHS = 10

## Data prep

In [5]:
df = get_users_data()
df

,user_id,locale,birthyear,gender,joinedAt,location,timezone
0,3197468391,id_ID,1993,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0
1,3537982273,id_ID,1992,male,2012-09-29T18:03:12.111Z,Medan Indonesia,420.0
2,823183725,en_US,1975,male,2012-10-06T03:14:07.149Z,Stratford Ontario,-240.0
3,1872223848,en_US,1991,female,2012-11-04T08:59:43.783Z,Tehran Iran,210.0
4,3429017717,id_ID,1995,female,2012-09-10T16:06:53.132Z,NaN,420.0
...,...,...,...,...,...,...,...
38204,4064394129,en_US,1966,female,2012-06-12T02:03:42.571Z,NaN,-240.0
38205,446388078,id_ID,1997,male,2012-10-25T22:43:19.834Z,Medan Indonesia,420.0
38206,2548659919,id_ID,1995,male,2012-10-28T07:23:08.383Z,Jogjakarta Indonesia,420.0
38207,723239978,en_US,1989,male,2012-10-30T00:55:34.639Z,Yogyakarta,420.0
38208,125781176,en_US,1980,male,2012-11-20T18:05:07.101Z,San Dimas California,-480.0

## Model training

In [ ]:
# model.fit

In [ ]:
# preds = model.test

## Evaluation

In [ ]:
# model_auc = auc(true, preds)

## Summary